<app-header></app-header>


<main>

    <section class="bets">
        <article class="bet">
        <div class="card card-compact bg-base-100 w-96 shadow-xl">
            <figure>
              <img
                src="https://images.alphacoders.com/116/1163534.jpg"
                alt="Shoes" />
            </figure>
            <div class="card-body">
              <h2 class="card-title">Real Madrid</h2>
              <div class="card-actions justify-end">
                <button class="btn btn-primary">Apostar</button>
              </div>
            </div>
          </div>
        </article>

        <article class="bet" style="margin-left: 20%;">
            <div class="card card-compact bg-base-100 w-96 shadow-xl">
                <figure>
                  <img
                    src="https://wallpapers.com/images/hd/barcelona-fc-and-nike-logos-4e7f61t7jeunue2r.jpg"
                    alt="Shoes"
                    style="height: 200px;"
                    />
                </figure>
                <div class="card-body">
                  <h2 class="card-title">Barcelona</h2>
                  <div class="card-actions justify-end">
                    <button class="btn btn-primary">Apostar</button>
                  </div>
                </div>
              </div>
        </article>

    </section>

</main>

<app-footer></app-footer>
